.container-card{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border: solid 1px rgb(212, 208, 208);
  border-radius: 150px 150px 10px 10px;
  text-transform: capitalize;
  padding: 0 10px;
  margin: 10px 10px;
}
a{
  text-decoration: none;
  color: rgba(26, 24, 24, 0.884);
}

.circle{
  width: 100%;
  border-radius: 50%;
  background: white;
}

.container-card:hover{
  box-shadow: 0 1px 6px rgb(32, 33, 36);
  border-color: rgba(223,225,229,0);
  transform: matrix(1, 0, 0, 1, 0, -4);
}

.number{
 padding: 5px 10px;
 font-size: 12px;
 color: rgb(175, 171, 171);
}

.container-card b {
  padding: 0 10px;

}

.pokemon-card-type{
  display: flex ;
  justify-content: space-evenly;
  padding: 10px 0;
}

.img{
  /* background-color: rgba(238, 231, 231); */
  /* border: solid 1px rgba(49, 46, 46, 0.288); */
  margin: 3px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}


.pokemon-card__type{
    line-height: 18px;
    max-width: 110px;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
    border-radius: 20px;
}

.grass{
  background-color: #78c850da;
  color: #212121;
}
.dark{
  background-color: #707070;
  color: #fff;
}

.poison {
  background-color: #b97fc9;
  color: #fff;
}

.fire{
  background-color: #fd7d24;
  color: #fff;
}

.flying{
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  color: #212121;
}

.bug{
  background-color: #a9b64c;
  color: #fff;
}

.normal{
  background-color: #a4acaf;
  color: #212121;
}

.electric{
  background-color: #eed535;
  color: #212121;
}

.ground{
  background: #E0C068;;
  color: #212121;
}

.fairy{
  background-color: #fdb9e9;
  color: #212121;
}

.water{
  background-color: #4592c4;
  color: #fff;
}

.fighting{
  background-color: #c03028de;;
  color: #fff;
}

.psychic{
  background-color: #F85888;;
  color: #fff;
}

.rock{
  background-color: #a38c21;
  color: #fff;
}

.steel{
  background-color: #9eb7b8;
  color: #212121;
}

.ice{
  background-color: #51c4e7;
  color: #212121;
}

.ghost{
  background-color: #705898;;
  color: #fff;
}

.dragon{
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    color: #fff;
}
