.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background-color: rgb(224, 15, 15);
  color: #fff;
  min-width: 512px;
}

img{
  max-width: 140px;
}

.example-icon img{
  width: 100%;
}

input{
  border-radius: 15px;
  border: none;
  margin-right: 5px;
}

input:hover{
  box-shadow: 0 1px 6px rgb(32, 33, 36);
  border-color: rgba(223,225,229,0);
}

input:focus{
  outline: 0;
}
