<mat-toolbar>
  <img src="http://4.bp.blogspot.com/-Wb_3NzXcO5c/VGv5sR3M7UI/AAAAAAAAh3w/ciwMZiICmF0/s1600/pokemon-logo-em-png-queroimagem-cei%C3%A7a-crispim-01.png" alt="">
  <span class="example-spacer"></span>
    <input matInput type="text" #input placeholder="buscar pokemon" *ngIf="canShow" (keyup)="search(input.value)">
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="showInput()">
    <img src="https://aux3.iconspalace.com/uploads/645019229296460368.png" alt="">
  </button>
</mat-toolbar>
