<!-- evento que pega as informações de Search component e coloca em pokemon list -->
<app-search (emmitSearch)="getSearch($event)"></app-search>

<section>
  <div class="container">
      <app-pokemon-card *ngFor="let pokemon of getAllPokemons
      index as i"
      [pokemon]= "pokemon"
      [number] = "i+1"
      ></app-pokemon-card>
    </div>
    <div class="container2">
      <button mat-flat-button *ngIf="show" (click)="setOff()">More</button>
    </div>


</section>


<!-- (emmitSearch)="getSearch($event)" -->
