.container{
  border: solid 1px rgb(175, 171, 171);
  padding: 10px 10px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;

}

