<div class="container">
  <mat-toolbar>
      <span>Coded By <a href="https://www.linkedin.com/in/luís-phillipe-nunes-dalilla-082595167/">Luis Phillipe</a></span>
      <span class="example-spacer"></span>
      <div class="icons">

          <a href="https://pt-br.facebook.com/Pokemon/"><button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <fa-icon [icon]="faFacebookF"></fa-icon>
          </button> </a>

          <a href="https://twitter.com/pokemon">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <fa-icon [icon]="faTwitter"></fa-icon>
          </button> </a>

          <a href="https://www.pokemon.com/br/">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <fa-icon [icon]="faGooglePlus"></fa-icon>
          </button></a>

          <a href="https://www.youtube.com/watch?v=j5KvubvurDA">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <fa-icon [icon]="faYoutube"></fa-icon>
          </button></a>

          <a href="https://www.instagram.com/luisdalilla/"><button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <fa-icon [icon]="faInstagram"></fa-icon>
          </button></a>
      </div>
    </mat-toolbar>
  </div>

  <!-- criação toolbarr do footer com @angula-materias, cada botão leva para o site do pokemon, sendo que o botão do instagram e o link com meu nome leva para minhas redes pessoais, intagram e linkedln -->
